.container {
    width: 100%;
    background-image: url(../../assets/images/bg-wave.svg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: bottom;
}

.section {
    width: 100%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 200px;
}